* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 500px;
}

.logo {
  align-items: center;
  margin-left: 50px;
  margin-top: -500px;
  font-style: italic;
}
.logo2 {
  margin-left: 150px;
  font-style: italic;
  margin-top: -10px;
}

.image {
  width: 300px;
  margin-left: -340px;
  border-radius: 50%;
  margin-top: -150px;
  box-shadow: 4px 2px 14px rgba(0, 0, 0, 25);
}

.data {
  align-items: center;
  margin-left: 180px;
  margin-top: -10px;
}

.text {
  margin-top: -490px;
  background-color: #EBEBEB;
  margin-left: -350px;
  padding: 20px;
  align-items: center
}
.position {
  border: 1px solid rgb(0, 0, 0);
  margin-left: -25px;
}
.settings {
  display: flex;
}

.map_block{
  text-align: center;
  padding-bottom: 1%;
  padding-top: 22%;
}